@import "tailwindcss";
@import "@nuxt/ui";


@theme {
	--ui-primary: var(--color-main);
	--ui-bg: var(--color-light);
	--ui-text-highlighted: var(--color-title);
	--font-display: "Exo 2", "sans-serif";
}
/* html[data-color="blue"],
[data-color="inverse"] {
	--ui-bg: #fff;
} */

.blind button {
	font: menu;
}
[role="dialog"] {
	overflow-y: auto;
}
#select-date {
	width: 100%;
    min-height: 48px;
    max-width: 100%;
}
